/docker-compose.override.yaml
/docker-compose.override.yml

api/helm/kubeconfig.yaml

.idea/

api/helm/*-kubeconfig.yaml
api/helm/kubeconfig*

site/


api/public/bundles

docs/.cache/
docs/node_modules/
docs/public/
docs/npm-debug.log
.cache/
node_modules/
public/
npm-debug.log
.DS_Store
.idea


