/docker-compose.override.yaml
/docker-compose.override.yml

api/helm/kubeconfig.yaml

api/var/cache

.idea/

api/helm/*-kubeconfig.yaml
api/helm/kubeconfig*

site/


api/public/bundles

gatsby/.cache/
gatsby/node_modules/
gatsby/public/
gatsby/npm-debug.log
.cache/
node_modules/
public/
npm-debug.log
.DS_Store
.idea


